/* Config */
:root {
    --color-1: #D8EFD3;
    --color-2: #95D2B3;
    --color-3: #55AD9B;
    --color-4: #F1F8E8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont;
}

.app__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
}

/* Start: Timer */

.app__timer {
    width: 200px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app__timer-label {
    font-size: 62px;
    font-weight: bold;
    color: var(--color-2);
    margin: 12px 0;
}

.app__timer-btn {
    background: none;
    border: 2px solid var(--color-3);
    font-size: 18px;
    color: var(--color-3);
    padding: 6px 22px;
    cursor: pointer;
}

/* End: Timer */